{namespace ext=Emthebi\Extgmaps\ViewHelpers}
<f:layout name="FullSizeMap" />
<f:section name="main">

    <ext:css src="FullScreenMap" />
    <ext:javaScript footer="1">
        var extGMapType = 'extGMapType';
    </ext:javaScript>

    <ext:css src="Map"/>
    <ext:javaScript src="infobox" footer="1" />
    <ext:javaScript src="markerclusterer" footer="1" />
    <ext:javaScript src="extGMaps" footer="1" />
    <ext:javaScript src="themeTree" footer="1" />
    <ext:javaScript src="MapFullSize" footer="1" />

    <div class="js_fullSizeMapContainer" style="display:none">
        <f:render partial="InfoBox"/>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

        <script type="text/javascript">

            var mapDataJson = {mapObjectsAsJson -> f:format.htmlentitiesDecode()};
            var defaultGeoCoordinates = {mapDefaultGeoData -> f:format.htmlentitiesDecode()};
            var gridSize = '{gridSize}';
            var mapType = '{mapType}';

        </script>



        <div class="js_treeSlider treeSlider">
            <div class="js_sliderImg sliderImg">
                <f:image class="js_arrow_right" src="{f:uri.resource(path:'Images/arrow_right.png')}" alt="" />
                <f:image class="js_arrow_left" src="{f:uri.resource(path:'Images/arrow_left.png')}" alt="" style="display:none" />
            </div>
            <f:render partial="Tree" arguments="{_all}" />
        </div>


        <div id="js_extGMaps" class="map {extGMapType}"></div>
    </div>
    <div class="js_toogleMapContainer"><f:image src="{f:uri.resource(path:'Images/globe.png')}" alt=""/></div>
    <div class="js_fullScreeButton fullScreeButton"><f:image src="{f:uri.resource(path:'Images/fullscreen.png')}" alt=""/></div>
</f:section>
