{namespace ext=Emthebi\Extgmaps\ViewHelpers}
<f:render partial="InfoBox"/>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<f:comment>
    <f:debug>{themeTree}</f:debug>
</f:comment>
<ext:css src="Map"/>

<ext:javaScript>
    var mapDataJson = {mapObjectsAsJson -> f:format.htmlentitiesDecode()};
    var defaultGeoCoordinates = {mapDefaultGeoData -> f:format.htmlentitiesDecode()};
    var gridSize = '{gridSize}';
    var mapType = '{mapType}';
</ext:javaScript>

<ext:javaScript src="infobox" footer="1" />
<ext:javaScript src="markerclusterer" footer="1" />
<ext:javaScript src="extGMaps" footer="1" />
<ext:javaScript src="themeTree" footer="1" />

<ext:javaScript footer="1">
    jQuery(document).ready(function() {
        buildMap();
        if (disableMapScrolling) {
            extGoogleMap.setOptions({scrollwheel: false});
        }
    });

</ext:javaScript>

<f:if condition="{extGMapType} != 'singleMap'">
    <f:render partial="Tree" arguments="{_all}" />
</f:if>

<div id="js_extGMaps" class="map {extGMapType}"></div>