{namespace ext=emthebi\extgmaps\ViewHelpers}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
//    var jQuery = jQuery.noConflict();
    var mapData = [];
</script>
<ext:javaScript footer="1">
    var gridSize = '{gridSize}';
    var mapType = '{mapType}';
    var data = [
    {
    label: 'node1',
    children: [
    { label: 'child1' },
    { label: 'child2' }
    ]
    },
    {
    label: 'node2',
    children: [
    { label: 'child3' }
    ]
    }
    ];


</ext:javaScript>
<ext:javaScript src="infobox" footer="1" />
<ext:javaScript src="markerclusterer" footer="1" />
<ext:javaScript src="Map" footer="1" />
<ext:javaScript src="tree.jquery" footer="1" />
<f:for each="{mapObjects}" as="mapObject">
    <div>{mapObject.title}</div>
    <script>
        var title = '{mapObject.title}';
        var image = '{mapObject.image.publicUrl}';
        var imageTitle = '{mapObject.image.title}';
        var latitude = '{mapObject.latitude}';
        var longitude = '{mapObject.longitude}';
        var header = '{mapObject.header}';
        var uid = '{mapObject.uid}';

        mapData.push([title, image, imageTitle, latitude, longitude, header, uid]);
    </script>
    <ext:javaScript>
        var test123 = '123';
    </ext:javaScript>
    <ext:css>
        .extGMapsInfobox {
        height: 200px;
        }
    </ext:css>
    <ext:css src="ContentMap" />
    <ext:css src="jqtree" />

    <f:comment>
        <div>
            <f:image src="{mapObject.image.uid}" alt="{mapObject.image.title}" width="150" height="100" treatIdAsReference="1" />
        </div>
    </f:comment>

</f:for>
<script>
    console.log(mapData);
    jQuery(function() {
        jQuery('#tree1').tree({
            data: data
        });
    });
</script>
<div id="js_extGMaps" class="extGMaps"></div>
<div id="tree1"></div>